- var pageTitle = "Contact Us About the Shrine of Christ the King"

doctype html
html(lang="en")
  head 
    include ./includes/head.jade
  body
    #container
      include ./includes/navigation.jade
      #content
        h1 Contact Us
        p Please contact us with any questions or comments.
        p
          | For all inquiries regarding the restoration of this historic landmark, please contact the Shrine directly using the information or form below. We would also be grateful for contact information of others who might also be interested in this restoration project.
        h2 Contact Information
        blockquote
          table.contactTable(border='0', cellpadding='3', cellspacing='1')
            tr
              td(valign='top')
                b Address:
              td(valign='top')
                | Shrine of Christ the King
                br
                |                             6415 S. Woodlawn Avenue
                br
                |                             Chicago, Illinois 60637-3817
            tr
              td(valign='top')
                b Phone:
              td(valign='top') (773) 363-7409
            tr
              td(valign='top')
                b Fax:
              td(valign='top') (773) 363-7409
            tr
              td(valign='top')
                b Email: 
              td(valign='top')
                a(href='mailto:info@historic-landmark.org?subject=Historic-Landmark.org Inquiry') info@historic-landmark.org
        h2 Contact Form
        p
          | If you prefer, you may use the form below to contact us. All inquiries will receive a timely response.
        form(action='confirm.php', method='post', name='contact-form')
          table.contact-form(border='0', cellpadding='3', cellspacing='0')
            tr
              td
                | Your Name:
              td(valign='top')
                input(type='text', maxlength='50', name='name', size='45')
            tr
              td
                | Email:
              td
                input(type='text', maxlength='50', name='email', size='35')
                .small (Your address won't ever be sold)
            tr
              td(valign='top')
                | Message:
              td(valign='top')
                textarea(name='message', cols='60', rows='12')
            tr
              td
                | How You Heard About This:
              td
                select(type='text', name='source')
                  option Television Interview
                  option Newspaper Feature
                  option Billboard Advertisement
                  option Search Engine
                  option Web Site Referral
                  option Word of Mouth
                  option Other
            tr
              td
                | Phone:
              td(valign='top')
                input(type='text', maxlength='15', name='phone', size='3')
                .small (Optional)
            tr
              td
                | Address:
              td(valign='top')
                input(type='text', maxlength='75', name='address', size='30')
                .small (Optional)
            tr
              td
                | City:
              td(valign='top')
                input(type='text', maxlength='25', name='city', size='20')
                .small (Optional)
            tr
              td
                | State:
              td(valign='top')
                input(type='text', maxlength='2', name='state', size='2')
                .small (Optional)
            tr
              td
                | Zip Code:
              td(valign='top')
                input(type='text', maxlength='10', name='zip', size='5')
                .small (Optional)
            tr
              td(valign='top')
              td(valign='top')
                input.button(type='submit', name='send', value='Submit')
    #footer
      a(href='http://www.historic-landmark.org/') Historic Landmark
      |  § 
      a(href='http://www.historic-landmark.org/') Chicago Historic Landmark
      |  § 
      a(href='historical-landmark.html') Historical Landmark
      |  § 
      a(href='historical-landmark.html') Chicago Historical Landmark
      br
      br
      |         Shrine of Christ the King · 6415 S. Woodlawn Avenue · Chicago, Illinois 60637-3817
      br
      |         Phone: 773.363.7409 · Fax: 773.363.7824 · Email: 
      a(href='mailto:info@historic-landmark.org?subject=Historic Landmark Restoration Inquiry') info@historic-landmark.org
      br
      |         Copyright © MMXI. All rights reserved.
    script(src='http://www.google-analytics.com/urchin.js', type='text/javascript')
    script(type='text/javascript').
      _uacct = "UA-131347-8";
      urchinTracker();
