- var pageTitle = "A Chicago Historic Landmark Saved from the Wrecking Ball"

doctype html
html(lang="en")
    head 
        include ./includes/head.jade
    body
        #container
            include ./includes/navigation.jade
            #content
                h1 Critical Present
                .left.enlarge
                    a(href='images/img33-large.jpg')
                        img(src='images/img33.jpg', alt='chicago historic landmark', height='300', width='400')
                    | The "gutted" interior (click to enlarge)
                p
                    | Today, the church is only a shell.    Even though urgent structural repairs have been completed, the project of rehabilitation is only in its very beginnings, and progress is entirely dependent on the generous donations of the needed funds.
                h2 Floors, Walls, and Ceilings
                p
                    | After a fire in the seventies destroyed the inside of the church, the ceiling was never replaced. Since that time, it has shown the bare steel beams of the roof's construction.
                .right
                    img(src='images/img7.jpg', alt='chicago historic landmark', height='149', width='200')
                    | The choir loft and bare ceiling
                // <div class="right"><img src="images/img6.jpg" alt="chicago historic landmark" height="186" width="250" />The sanctuary</div>
                p
                    | The floor, which was contaminated with asbestos, has already been removed and now needs to be replaced, as do some stairways and entryways.    Of the once impressive late Renaissance/early-Baroque interior, only elegant columns and capitals have survived.
                h2 Mechanical and Hardware Problems
                .left
                    img(src='images/img8.jpg', alt='chicago historic landmark', height='245', width='182')
                    | A ceiling in need of repair
                p
                    | The structural state of the building is likewise a source of concern. While the roof has already been replaced and tuck-pointing completed, the long-time weather-beaten interior walls show many cracks, patches, and stains that need repair.
                .right
                    img(src='images/img5.jpg', alt='chicago historic landmark', height='269', width='179')
                    | Damaged walls and pipes
                p
                    | The church is in need of new window frames and doors, new hardware, much plaster repair, new wiring to avoid future security issues and fires, and a completely new HVAC system (heating, ventilation, and air conditioning).
                h2 Interior Decorations
                p
                    | Most of the interior decoration was also damaged by the fire, and the balance was, unfortunately, removed during a renovation in the eighties, not always a favorable time for ecclesiastical art.
                p
                    | We rely on your generous support for the costs of bringing ornaments, statuary, and altars back to this historic edifice.
            a.next-link(href='bright-future') Next: "Bright Future" »
        #footer
            a(href='http://www.historic-landmark.org/') Historic Landmark
            |    § 
            a(href='http://www.historic-landmark.org/') Chicago Historic Landmark
            |    § 
            a(href='historical-landmark') Historical Landmark
            |    § 
            a(href='historical-landmark') Chicago Historical Landmark
            br
            br
            |                         Shrine of Christ the King · 6415 S. Woodlawn Avenue · Chicago, Illinois 60637-3817
            br
            |                         Phone: 773.363.7409 · Fax: 773.363.7824 · Email: 
            a(href='mailto:info@historic-landmark.org?subject=Historic Landmark Restoration Inquiry') info@historic-landmark.org
            br
            |                         Copyright © MMXI. All rights reserved.
