- var pageTitle = "Classical Music Concert Series § Free Admission"

doctype html
html(lang="en")
    head 
        include ./includes/head.jade
    body
        #container
            include ./includes/navigation.jade
            #content
                img.concert-header(src='images/concert-header.jpg', alt='Free Chicago Concert Series', height='310', width='810')
                .right(style='width: 250px')
                    h2 Spring 2016 Concerts
                    i Sunday, April 10th @ 2pm
                    br
                    br
                    i Sunday, May 15th @ 2pm 
                    br
                    br
                    i Sunday, June 12th @ 2pm
                    br
                    br
                    span(style="font-style:normal;font-variant:small-caps")
                        | 6400 S Kimbark Ave
                        br
                        | Chicago, IL 60546
                        br
                    a(href='https://www.google.com/maps/dir//6400+S+Kimbark+Ave,+Chicago,+IL+60637/@41.7781738,-87.595838,18.64z/data=!4m13!1m4!3m3!1s0x880e291e8d45dff1:0x16988d0be791b0fe!2s6400+S+Kimbark+Ave,+Chicago,+IL+60637!3b1!4m7!1m0!1m5!1m1!1s0x880e291e8d45dff1:0x16988d0be791b0fe!2m2!1d-87.5950636!2d41.7783854', target='_blank') View Map

                h1 Experience the Beauty of Culture
                p
                    | The Shrine of Christ the King, a landmark church, is already today a cultural center where art, 
                    | music, and architecture offer a glimpse of 
                    | divine beauty. Located just minutes from Chicago's Lakefront and the Museum of Science and 
                    | Industry, this extraordinary edifice is now a venue for a remarkable program of classical 
                    | concerts and lectures on history and the arts. Inspiring the mind and uplifting the heart, these 
                    | enriching experiences of cultural beauty are attracting a growing number of people from the local 
                    | Chicago community and beyond. You too are invited to join us for the special events listed here! 
                h1 "Hidden Treasures" Concert Series
                p
                    | The Shrine offers a program of baroque chamber concerts featuring the lesser known masterpieces of great composers. In these one-hour concerts without intermission, you can discover a hidden treasure — delightful music which is rarely performed elsewhere! Hear a sampling from the videos below. Presented by the 
                    a(href='http://www.amadeusconsort.com', target='_blank') Amadeus Consort
                    | .
                br
                <iframe class="video-embed" width="560" height="315" src="https://www.youtube.com/embed/GjqedWDkneU" frameborder="0" allowfullscreen></iframe>
                <iframe class="video-embed" width="560" height="315" src="https://www.youtube.com/embed/-T_r-gcQlKM" frameborder="0" allowfullscreen></iframe>
                <iframe class="video-embed" width="560" height="315" src="https://www.youtube.com/embed/45vcMwSibkA" frameborder="0" allowfullscreen></iframe>
        include ./includes/footer.jade
