- var pageTitle = "History of a History Landmark in Chicago"

doctype html
html(lang="en")
    head 
        include ./includes/head.jade
    body
        #container
            include ./includes/navigation.jade
            #content
                h1 Glorious History
                h2 Masterpiece of Henry J. Schlacks
                p
                    | The former St. Clara/St. Gelasius church on the south side of Chicago was designed and built by the masterful Henry J. Schlacks in 1923.    Schlacks applied classical models from Italy, most particularly Rome, to the many magnificent churches he designed in Chicago during the early twentieth century.    Among these historical edifices that he built, the church of St. Clara/St. Gelasius stands out as his life's masterpiece, with its application of concepts from the many triumphal arches of antiquity, including the three arched doorways, and the four imposing statues placed above the pediment.
                .left
                    img(src='images/img1.jpg', alt='chicago historic landmark', height='365', width='489')
                    | Former beauty of this historic landmark in the days it was named St. Clara
                h2 Its History
                p
                    | This historic landmark of Chicago was originally named St. Clara Parish and directed for many decades by the Carmelite Fathers. This history has been recorded in the adjacent street named "Carmelite Way."
                p
                    | Until the late 1950's, the Church was also the National Shrine of St. Therese of Lisieux. Though the church was thriving, a significant change in the neighborhood began to diminish the parish membership considerably, which naturally created difficulties in maintaining the building.
                .right
                    img(src='images/img2.jpg', alt='chicago historical landmark', height='300', width='400')
                    | History recorded in the name of the adjacent street
                p
                    | After a devastating fire in the late 1970's, the interior of the church was never brought back to the splendor that its outside promises.    Gorgeous statuary and delicate woodworking was lost. However, even in this moment of interior and exterior decay, the imposing structure was still one of the noblest churches in Chicago.
                h2 An Opportunity Presents Itself
                p
                    | Finally, at the turn of the millennium, the church was to be demolished.    But at the last moment, the destiny of the majestic edifice changed.    Francis Cardinal George, who had always regretted closing the church, was overjoyed at the possibility of preserving this historic gem.    The Cardinal gave the church to the Institute of Christ the King, a priestly order with a history of successful and beautiful church restorations (
                    a(href='historic-restoration.html') see the restoration of St. Mary's in Wausau, Wisconsin
                    | ). In addition, the city of Chicago formally gave this church the prestigious historic landmark status.
                    | With the blessing of the Archdiocese and many enthusiastic supporters, the Institute began
                    | the arduous work of restoration.
                .left
                    img(src='images/img17.jpg', alt='historic landmark in chicago', height='225', width='300')
                    | The Cornerstone, 1923 AD
                h2 A New Beginning
                p
                    | Since 2004, when the congregation of the Institute of Christ the King took over the historic 
                    | church, the community and neighborhood has witnessed a great transformation. The Infant King 
                    | devotion, introduced by the congregation, has attracted adherents from all over the country. 
                    | “Hundreds of prayer requests come in weekly from the local area and across the country and it has 
                    | been a great source of joy in watching this devotion grow,” said the Rev. Canon Talarico.
                    | As the interior and the exterior of the church were slowly renovated, the Shrine congregation, 
                    | composed of members and families from the local community, some from as far away as Indiana, grew 
                    | steadily.
                .right
                    img(src="./images/allsaints.jpg", alt="All Saints Day at the Shrine", height="240", width="360")
                    | All Saints Day at the Shrine
                p
                    | The renovation of the church also positively touched the local community by reviving the cultural 
                    | life of the neighborhood, offering concerts and social events. Mike Medina, 
                    | president of the Woodlawn Residents Association, said “From organizing block clean-up days and 
                    | hosting meetings with city and civic leaders, to promoting local businesses and teaching hockey to
                    | neighborhood youth, the Shrine of Christ the King has been a tireless advocate for Woodlawn and 
                    | serves our neighborhood with a giving and gracious heart. We stand together with the Shrine!”
                h2 Tested by Fire, Sustained by Faith
                .left
                    img(src="./images/firedamage.jpg", alt="Interior Destroyed Again by Fire", height="360", width="240")
                    | Interior Destroyed Again by Fire
                p
                    | In the second phase of the six million dollar renovation, a fire broke out on the morning of 
                    | October 7th, 2015, destroying large parts of the roof, the choir loft, some of the windows, and 
                    | most of the interior furnishings of the church. The damage from water and smoke in the 
                    | church and sacristy is extensive with early estimates running upwards of 3 million dollars.
                .right
                    img(src="./images/supporters.jpg", alt="Friends and Faithful Rally Around the Shrine", height="240", width="360")
                    | Friends and Faithful Rally Around the Shrine
                p
                    | The outpouring of support not only in Chicago but also nationally has been a great source of 
                    | encouragement in light of this tragedy. “We have been tested by fire, but this outpouring of 
                    | support especially from our neighbors helps sustain and renew our faith in our work at the Shrine,
                    | in the local community and beyond,” said the Rev. Canon Talarico. The 3-alarm fire took 150 
                    | firefighters several hours to bring under control. Courageous firefighters were able to save the 
                    | tabernacle containing the Blessed Sacrament and the 18th century Spanish statue of the Infant 
                    | Jesus which is iconic of the mission of the Shrine. “It was beautiful inside.” Nicole Raciunas, 
                    | a regular member of the Shrine community said. “I know it’s a building, but it is our home. 
                    | We’re just always here. We did the best we could to make it a beautiful place for God.” Sister 
                    | Therese O’Sullivan, who runs the shelter next door for women and children said, “I know the 
                    | spirit of the priests there and this will not stop them. I’m sure they will rebuild.”
                h2 Rising From the Ashes
                p
                    | After once again facing the threat of demolition, the building was entrusted permanently to The 
                    | Institute of Christ the King in February 2016 when the Archdiocese of Chicago officially 
                    | transferred the deed to the care of the Institute. Faced with the prospect of starting the 
                    | restoration anew, your generous help will be needed now more than ever!
            a.next-link(href='./future') Discover the Bright Future of the Shrine »
        include ./includes/footer.jade
