- var pageTitle = "Chicago Historic Landmark &sect; Help Save an Historic Landmark"

doctype html
html(lang="en")
    head 
        include ./includes/head.jade
    body
        #container.home
            include ./includes/navigation.jade
            #content
                .splash
                    .fade
                        .fade-container
                            .donate-container
                                img(src="./images/headline.gif", alt="Join This Effort to Restore the Magnificence of an Historic Landmark, a Gem of History")
                                a(href='donate') Donate Now
                p
                    | The unique structure of the historic landmark Shrine of Christ the King, historically 
                    | known as St. Clara and then St. Gelasius, near the influential University of Chicago, 
                    | will be brought back to classical beauty. We invite you to become part of a unique project and to 
                    | contribute generously to the restoration of this historic landmark in Chicago. This gem of
                    | ecclesiastical art will again display Chicago&apos;s architectural heritage. Learn more about this
                    | historic landmark&apos;s <a href='glorious-history.html'>history</a>
                    | and <a href='./future'>future</a> in these pages.
                .right.phase-container
                    h1 Current State of the Restoration
                    a(href="./donate") Learn More &raquo;
                    .phase.phase-current
                        .phase-title Phase 1 (In Progress)
                        .phase-subtitle Securing the Building Envelope
                        .phase-amount $1,000,000 Raised
                        ul
                            li Stabilization
                            li Masonry Repairs
                            li New Roof
                            li New Thermal Windows
                p
                    | After suffering a devastating fire on October 7th, 2015, this landmark is in need of your help now
                    | more than ever. The Shrine has risen from the ashes before, but your generous assistance will be 
                    | needed to bring this glorious restoration to its realization.

                h2 Classical Music Concert Series
                p
                    | In addition to the work of preserving our architectural heritage, the Shrine also offers a number of
                    | concerts of classical music. Learn more about our <a href='chicago-concert-series.html'>Classical Music
                    | Concerts</a>.
                div.chicago-concert-series
                    a(href='events')
                        img(src='images/concert-header.jpg', alt='Free Chicago Concert Series', height='310', width='810')
        include ./includes/footer.jade
