- var pageTitle = "Chicago Historic Landmark &sect; Help Save a Historic Landmark"

doctype html
html(lang="en")
  head 
    include ./includes/head.jade
  body
    #container
      include ./includes/navigation.jade
      #content
        h1 A Timeline of Progress
        p
          | Today, the church is no longer the empty shell that it once was, but the project of rehabilitation is still
          | only in its very beginnings, and progress is entirely dependent on the generous donation of the needed funds.
          | Since this historic landmark was adopted by the Institute of Christ the King, we have made great progress in
          | restoring it to its former glory.
        section#timeline
          .timeline-block
            .timeline-dot
            .timeline-content
              h2 New Organ Installed
              span.date October 2013
              .timeline-slides
                img(src="./images/timeline/organ1.png")
              p 
                | A new Hauptwerk organ was installed to continue the master plan of renovating the entire organ and  
                | pipes. The new organ produces beautiful music through a fusion of mechanical and digital technology.
          .timeline-block.tb2
            .timeline-dot
            .timeline-content
              h2 Vestibule Renovation
              span.date September 2013
              .timeline-slides
                img(src="./images/timeline/vestibule1.png")
              p 
                | Ground was broken in the vestibule renovation. The first step in the create of a new first floor 
                | bathroom (pictured) to make the Shrine ADA compliant.
          .timeline-block
            .timeline-dot
            .timeline-content
              h2 Insulation Installation
              span.date January 2013
              .timeline-slides
                img(src="./images/timeline/insulation1.jpg")
              p 
                | The original insulation, stripped away long ago, was replaced, to ensure that the Shrine will remain 
                | a cultural and spiritual hub in all seasons.
    include ./includes/footer.jade