- var pageTitle = "Chicago Historic Landmark &sect; Help Save an Historic Landmark"

doctype html
html(lang="en")
  head 
    include ./includes/head.jade
  body
    #container
      include ./includes/navigation.jade
      #content
        section#timeline
          .timeline-block
            .timeline-dot
            .timeline-content
              h2 Vestibule Renovation
              span.date September 2013
              p 
              | Ground was broken in the vestibule renovation. The first step in the create of a new first floor 
              | bathroom (pictured) to make the Shrine ADA compliant.
          .timeline-block
            .timeline-dot
            .timeline-content
              h2 Vestibule Renovation
              span.date September 2013
              p 
              | Ground was broken in the vestibule renovation. The first step in the create of a new first floor 
              | bathroom (pictured) to make the Shrine ADA compliant.
          .timeline-block
            .timeline-dot
            .timeline-content
              h2 Insulation Installation
              span.date January 2013
              .timeline-slides
                img(src="./images/timeline/insulation1.jpg")
              p 
              | The original insulation, stripped away long ago, was replaced, to ensure that the Shrine will remain 
              | a cultural and spiritual hub in all seasons.
    include ./includes/footer.jade