@media only screen and (min-width: 900px) {

    body {
        background:#fcf4ec url( "../body-background.jpg" ) no-repeat top center;
    }

    #content {
        margin:0 15px 0 15px;
    }

    p {
        font-size: 15px;
        line-height: 30px;
    }

    ul#navigation {

        margin-top: 105px;
        font: normal 16px Garamond, Cambria, Times, serif;
        display: block;
        width: 100%;
        background-color: transparent;
        max-height: none;
        text-align: center;
        box-shadow: none;

        a, a:visited {
            color: @dark-blue;
            font-size:18px;
            text-transform:uppercase;
            text-decoration:none;
            text-shadow:-1px -1px 3px #ede7d3;
            padding: 10px 9px;
            border-bottom: 2px solid rgba(45, 87, 117, 0);
            transition: border-color .5s;
        }

        a:hover {
            border-bottom: 2px solid rgba(45, 87, 117, 1);
        }

        li {
            display: inline;
        }

    }

    #nav-collapse {
        display: none;
    }

    .splash {

        margin: 20px 0;

    }

    #timeline {
        overflow: hidden;
    }
    #timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    .timeline-content::before{
        content: '';
        position: absolute;
        top: 16px;
        left: 100%;
        right: auto;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-left: 7px solid rgba( 255, 255, 255, 0.75);
    }
    .timeline-content {
        position: relative;
        width: 42%;
        background-color: rgba( 255, 255, 255, 0.75);
        margin: 0 0 3em 0;
        padding: 12px;
        h2 {
            margin: 0 0 0.4em 0;
        }
        .date {
            font-variant: small-caps;
            white-space: nowrap;
            display: inline-block;
            float: right;
            margin-bottom: 0;
            line-height: 32px;
        }
        .date::before {
            content: "";
            margin: 0;
        }
        .timeline-slides {
            img {
                border: 0;
                border-radius: 0;
                box-shadow: none;
                width: 100%;
                height: auto;
            }
        }
    }
    .timeline-block:not(:last-of-type) .timeline-content {
        margin-bottom: -250px;
    }
    .timeline-dot {
        top: 8px;
        left: 50%;
        width: 30px;
        height: 30px;
        margin-left: -15px;
        border-radius: 15px;
        background-color: @timeline-color;
        position: absolute;
    }
    .timeline-block:nth-child(even) {
        .timeline-content::before{
            content: '';
            position: absolute;
            top: 16px;
            right: 100%;
            left: auto;
            border: 8px solid transparent;
            border-right: 7px solid rgba( 255, 255, 255, 0.75);
        }
        .timeline-content {
            float:right;
        }
    }

    #footer {

        ul {

            border-bottom: 0px;
            text-align: center;

            li {
                display: inline;
                padding: 0;
            }
            li:first-child:before {
                content: '\a';
                white-space: pre;
            }
            li:after {
                content: '\b7';
                padding: 0 5px;
            }
            li:last-child:after {
                content: none;
            }

        }

        div {
            margin-top: 20px;
        }

    }

}
