#footer
    ul#nav Navigation
        li.first
            a(href='./') Home
        li
            a(href='./glorious-history') History
        li
            a(href='./future') Future
        li
            a(href='./events') Events
        li
            a(href='./contact') Contact
        li
            a(href='./donate') Donate
    ul.contact Location
        li Shrine of Christ the King
        li 6415 S. Woodlawn Avenue
        li Chicago, Illinois 60637-3817
    ul.contact Contact
        li Phone: 773.363.7409
        li Fax: 773.363.7824
        li Email: <a href="mailto:shrine@historic-landmark.org?subject=Historic Landmark Restoration Inquiry">shrine@historic-landmark.org</a>
    div Copyright &copy; MMXVI. All rights reserved.
