#footer
  a(href='http://www.historic-landmark.org/') Historic Landmark
  |  &sect; 
  a(href='http://www.historic-landmark.org/') Chicago Historic Landmark
  |  &sect; 
  a(href='historical-landmark.html') Historical Landmark
  |  &sect; 
  a(href='historical-landmark.html') Chicago Historical Landmark
  br
  br
  |Shrine of Christ the King &middot; 6415 S. Woodlawn Avenue &middot; Chicago, Illinois 60637-3817
  br
  |Phone: 773.363.7409 &middot; Fax: 773.363.7824 &middot; Email: 
  a(href='mailto:info@historic-landmark.org?subject=Historic Landmark Restoration Inquiry')
    | info@historic-landmark.org
  br
  |Copyright &copy; MMXV. All rights reserved.