ul#navigation
  li.first
    a(href='./') Home
  li
    a(href='./glorious-history.html') History
  li
    a(href='./critical-present.html') Present
  li
    a(href='./future.html') Future
  li
    a(href='./timeline.html') Timeline
  li
    a(href='./donate.html') Donate
  li
    a(href='./contact.html') Contact
  li.last
    a(href='./events.html') Events