ul#navigation
    li.first
        a(href='./') Home
    li
        a(href='./glorious-history') History
    li
        a(href='./critical-present') Present
    li
        a(href='./future') Future
    li
        a(href='./tour.html') Tour
    li
        a(href='./timeline') Timeline
    li
        a(href='./donate') Donate
    li
        a(href='./contact') Contact
    li.last
        a(href='./events') Events
div#nav-collapse
    div#nav-icon &#9776;
    div#nav-text Help Restore an Historic Landmark
